// _variables.scss
$primary-color: white;
$accent-color: var(--secondary-brand-color);
$transition-duration: 0.3s;
$border-color: #eee;

// _mixins.scss
@mixin transition(
  $property: all,
  $duration: $transition-duration,
  $timing: ease-out
) {
  transition: $property $duration $timing;
}

// faq.scss
.faq-accordion {
  width: 100%;
  background-color: var(--brand-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;

  h2 {
    text-align: center;
    color: $primary-color;
    font-size: 1.75rem;
  }

  // Fix Bootstrap accordion styles
  .accordion-button {
    background-color: $primary-color !important;
    font-size: 0.7em;
    box-shadow: none;

    &:not(.collapsed) {
      color: var(--secondary-brand-color);
      background-color: $primary-color;
      box-shadow: none;

      &::after {
        background-image: var(--bs-accordion-btn-icon);
        transform: var(--bs-accordion-btn-icon-transform);
      }
    }

    &:focus {
      border-color: var(--secondary-brand-color);
      box-shadow: 0 0 0 0.25rem rgba(var(--secondary-brand-color-rgb), 0.25);
    }
  }

  .accordion-collapse {
    transition: all 0.3s ease;

    &.show {
      visibility: visible;
      height: auto;
      opacity: 1;
    }
    &.show .accordion-body {
      padding-top: 0.5rem;
    }
  }

  .accordion-body {
    padding: 0rem 1.25rem;
    background-color: $primary-color;
    transition: padding 0.3s ease-in-out;
  }
}

.faq-item {
  background-color: $primary-color !important;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }
}

.faq-question {
  width: 100%;
  cursor: pointer;
  list-style: none;

  h2 {
    margin-bottom: 0;
    color: inherit;
    font-size: inherit;
    text-align: left;
  }

  &:hover {
    color: $accent-color;
  }

  &:focus-visible {
    outline: white auto 0.5px;
  }
}

.faq-answer {
  padding: 0 0.5rem;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  p {
    margin: 0;
    padding: 1rem;
    line-height: 1.6;
  }
}
