.blog-page {
  .blog-section {
    background-color: var(--brand-color);

    .section-title {
      font-family: var(--secondary-font);
    }
    .section-title h2 {
      display: none !important;
    }
    .btn-action {
      display: none !important;
    }
  }
  .fancy {
    display: none !important;
  }
}
